# Ignorar entorno virtual
venv311/

# Archivos compilados de Python
__pycache__/
*.pyc

# Base de datos SQLite (si la usas)
*.sqlite3

# Variables de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db
